// Imports

@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/extends';

// General Styling - Body

body {
    @include background-design;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    color: $main-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    margin-top:5px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: $main-white;
}

form {

}

//Index Specific

.home-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#profile-pic {
    width: 25%;
    border-radius:15%;
    box-shadow: 4px 6px 20px grey;
    opacity:0.9;
    align-self: center;
    justify-self: center;
    margin-top: 60px;

}


// Nav

.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    opacity: 0.7;
    width: 100%;
    background-image: linear-gradient(0deg, #ffe825 0%, #635b1a 2%, #2b291b 100%);
    z-index: 1;
    
  
    img {
      width: 59px;
      height: 35px;
      margin-top: 4px;
      margin-bottom: 2px;
      margin-left: 10px;
    }
  }

.nav-list {
    display: flex;
    margin: 0.1rem;
    list-style: none;
    font-family: sans-serif;
  
    a {
      display: flex;
      font-size: 1.2rem;
      padding: 0.3rem;
      margin-right: 1rem;
      color: $main-white;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }

// Footer

footer {
    display: flex;
    flex-shrink: 0;
    position: fixed;
    opacity: 0.7;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    margin-top: 15px;
}


